:root {
  --blue: hsl(246, 80%, 60%);
  --work-red: hsl(15, 100%, 70%);
  --play-blue: hsl(195, 74%, 62%);
  --study-red: hsl(348, 100%, 68%);
  --exercise-green: hsl(145, 58%, 55%);
  --social-violet: hsl(264, 64%, 52%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desat-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  margin: 4rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1.5rem;
}

.user-container {
  grid-area: 1 / 1 / 2 / 2;
}
.work {
  grid-area: 2 / 1 / 3 / 2;
}
.play {
  grid-area: 3 / 1 / 4 / 2;
}
.study {
  grid-area: 4 / 1 / 5 / 2;
}
.exercise {
  grid-area: 5 / 1 / 6 / 2;
}
.social {
  grid-area: 6 / 1 / 7 / 2;
}
.care {
  grid-area: 7 / 1 / 8 / 2;
}

.container {
  border-radius: 20px;
  color: #fff;
}

.user-container {
  background-color: var(--blue);
}

.dark-blue-bg {
  background-color: var(--dark-blue);
}

button {
  background: none;
  border: none;
}
